@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@100;300&display=swap');


html, body{
    font-family: Roboto !important;
    font-weight: 300 !important;
}
.logo{
    top: 0px;
}
#logo{
    width: 50%;
}
.main-logo {
    left: 0%;
    top: 15%;
    margin-left: -60px !important;
  }

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

.landing-image{
    width: 100%;
    height: 880px;
    background-image: url("../images/landing-image.png");
    background-size: cover;
    display: box;
    box-align: center;
    display: flex;
}
.block-landing-black{
    background-color: #212121;
    left: 4%;
    top: 30%;
    height: auto;
    width: auto;
    padding-left: 60;
    padding-right: 60;
    padding-top: 20;
    padding-bottom: 20;
    position: absolute;
}
.block-landing-black p{
    display: absolute;
    margin: 0;
    color: white;
    font-size: 40px;
    font-family: Oswald;
}
.block-landing-blue{
    background-color: #0370B8;
    left: 11%;
    top: 39.8%;
    height: auto;
    width: auto;
    padding-left: 50;
    padding-right: 50;
    padding-top: 15;
    padding-bottom: 15;
    position: absolute;
}
.block-landing-blue p{
    display: absolute;
    margin: 0;
    color: white;
    font-size: 35px;
    font-family: Oswald;
}

.block-tech-service { 
    height: 950px; /*TODO: remove height when it's finished*/
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
}

.title h1{
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 55 !important;
    text-align: center;
}

.description{
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20;
}

.block-quality{
    width: 100%;
    color: white;
    background-color: #212121;
}

.title-right{
    padding-left: 25%;
    padding-right: 40%;
    padding-top: 15%;
}

.title-right h1{
    font-size: 40 !important;
    font-weight: 400 !important;
}

.description-right{
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 26;
    font-weight: 100;
}

.block-services{
    width: 100%;
    color: white;
    background-color: #212121;
}

.title-left{
    padding-left: 40%;
    padding-right: 25%;
    padding-top: 15%;
}

.title-left h1{
    font-size: 40 !important;
    font-weight: 400 !important;
    text-align: right;
    align-content: flex-end;
}

.description-left{
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 24;
    font-weight: 100;
}

.cropped-image-left{
    object-fit: cover;
}

hr.solid-right {
    margin-top: 50px;
    width: 40%;
    border-top: 3px solid white !important;
    text-align: left;
}

hr.solid-left {
    margin-top: 50px;
    width: 40%;
    margin-left: auto;
    border-top: 3px solid white !important;
    text-align: right;
}

.block-warranty{
    height: 700px;
    background-color: whitesmoke;
}

.description-warranty{
    padding-top: 40px;
    text-align: center;
    padding-left: 32%;
    padding-right: 32%;
    font-size: 20;
}

.block-testimonies{
    color: white;
    background-color: #212121;
    min-height: 800px;
}


.description-testimonies{
    padding-top: 40px;
    padding-bottom: 90px;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    font-size: 16px;
}
 /*TODO: arreglar bold*/
b{
    font-weight: 500 !important;
}

.block-gallery{
    background-color: whitesmoke;
}

.logo-footer{
    width: 100%;
}
.wrapper-footer{
    width: 500px;
    margin: 0 auto;
}

.container-footer{
    width: 100%;
    padding-top: 5%;
}

.title-footer{
    text-align: center;
    padding-bottom: 20px;
}

.title-footer h1{
    font-size: 42px;
    padding-top: 15px;
}

.text-footer{
    margin-left: 25%;
    margin-right: 20%;
    font-size: 24px;
}

.text-decoration-none, .text-decoration-none:hover, .text-decoration-none:focus, .text-decoration-none:active {
    text-decoration: none !important;
    color: inherit !important;
}

.cropped-img-left{
    object-fit: cover;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }


.footer-right{
      background-image: url("../images/footer-image.png");
      background-size: 100%;
      background-repeat: no-repeat;
  }

.height-100{
     height: 100%;
 }

.container-footer{
    margin-bottom: 10%;
}